<div class="container">
	<div class="contact-heading">
		<h1>Contact</h1>
		<h2>Questions or comments? We'd love to hear from you.</h2>
	</div>
</div>
<div class="container-fluid contact-form">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					{{#if enquirySubmitted}}
					<h3>Thanks for getting in touch.</h3>
					{{else}}
				</div>
			</div>
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="row">
					<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
						<div class="col-sm-3 text-right">
							<label>Name<span class="field-required"> *</span></label>
						</div>
						<div class="col-sm-3">
							<input type="text" name="firstName"  placeholder="First Name" class="form-control" value="{{formData.[firstName]}}">
						</div>
						<div class="col-sm-3">
							<input type="text" name="lastName"  placeholder="Last Name" class="form-control" value="{{formData.[lastName]}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
						<div class="col-sm-3 text-right">
							<label>Email<span class="field-required"> *</span></label>
						</div>
						<div class="col-sm-6">
							<input type="email" name="email" placeholder="email" class="form-control" value="{{formData.email}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group {{#if validationErrors.message}}has-error{{/if}}">
						<div class="col-sm-3 text-right">
							<label>Question/Comment<span class="field-required"> *</span></label>
						</div>
						<div class="col-sm-6">
							<textarea name="message" placeholder="Type..." rows="10" class="form-control">{{formData.message}}</textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-sm-5 col-sm-offset-4 text-right">
							<div class="form-actions">
								<button type="submit" class="confirm-btn">Submit</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>
