
<div class="container-fluid registration">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h1>Register</h1>
		</div>
	</div>

	{{#if registrationSubmitted}}
	<div class="row">
		<div class="col-sm-6 col-sm-offset-4">
			<h3>Thanks for choosing Dollansky Racing Academy.</h3>
		</div>
	</div>

	{{else}}
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 registration-text">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			</p>
			<p>
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute. 

			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.

			</p>
		</div>
	</div>
	<form method="post">
		<hr>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<input type="hidden" name="action" value="register">
				<h2 class="registration-section-title">Personal information</h2>
				<div class="row">
					<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
						<div class="col-sm-3 text-right">
							<label class="input-label">Name<span class="field-required"> *</span></label>
						</div>
						<div class="col-sm-3">
							<input type="text" name="personalInfo.firstName"  placeholder="First Name" class="form-control" value="{{formData.[personalInfo.firstName]}}">
						</div>
						<div class="col-sm-3">
							<input type="text" name="personalInfo.lastName"  placeholder="Last Name" class="form-control" value="{{formData.[personalInfo.lastName]}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
						<div class="col-sm-3 text-right">
							<label class="input-label">Email<span class="field-required"> *</span></label>
						</div>
						<div class="col-sm-6">
							<input type="email" name="personalInfo.email" placeholder="email" class="form-control" value="{{formData.personalInfo.email}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-sm-3 text-right">
							<label class="input-label">Phone<span class="field-required"> *</span></label>
						</div>
						<div class="col-sm-3">
							<input type="text" name="personalInfo.phone" placeholder="###-###-####" class="form-control" value="{{formData.personalInfo.phone}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-sm-3 text-right">
							<label class="input-label">Indicate sprint car driving experience<span class="field-required"> *</span></label>
						</div>
						<div class="col-sm-9">

							<fieldset name="personalInfo.experience">
								<div class="row text-center">

									<div class="col-sm-2">
										<hr>
										<div class="experience-radio">
											<input id="radio-one" class="radio-button" type="radio" name="personalInfo.experience" value="1">		
											<label for="radio-one"><span></span></label>
											<p>Not Experienced</p>
										</div>
									</div>
									<div class="col-sm-2">
										<hr>
										<div class="experience-radio">
											<input id="radio-two" class="radio-button"  type="radio" name="personalInfo.experience" value="2">
											<label for="radio-two"><span></span></label>
										</div>
									</div>
									<div class="col-sm-2">
										<hr>
										<div class="experience-radio">
											<input id="radio-three" class="radio-button" type="radio" name="personalInfo.experience" value="3">
											<label for="radio-three"><span></span></label>
											<p>Somewhat Experienced</p>
										</div>
									</div>
									<div class="col-sm-2">
										<hr>
										<div class="experience-radio">
											<input id="radio-four" class="radio-button"  type="radio" name="personalInfo.experience" value="4">
											<label for="radio-four"><span></span></label>
										</div>
									</div>
									<div class="col-sm-2">
										<hr>
										<div class="experience-radio">
											<input id="radio-five" class="radio-button" type="radio" name="personalInfo.experience" value="5">
											<label for="radio-five"><span></span></label>
											<p>Very Experienced</p>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row register-button-row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="row">
					<div class="col-sm-8">
					</div>
					<div class="col-sm-4">
						<div class="form-actions">
							<button type="submit" class="confirm-btn">Register</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	{{/if}}
</div>
